@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


:root {
    --darkmagenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --dark-gray-magenta: hsl(303, 10%, 53%);
    --light-gray-magenta: hsl(300, 24%, 96%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}



body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.wrapper {
    width: 90%;
    height: 90vh;
    padding: 1rem;
}

header h1 {
    text-align: center;
    font-size: 35px;
    color: var(--darkmagenta);
    font-weight: 700;
    margin-bottom: 1rem;
}

header p {
    text-align: center;
    color: var(--dark-gray-magenta);
    font-weight: 500;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.ratings .rate {
    width: 90%;
    background-color: var(--light-gray-magenta);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.comments .comm {
    width: 90%;
    background-color: var(--darkmagenta);
    color: #fff;
    border-radius: 7px;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.comm .header-comm {
    display: flex;
    margin-bottom: 1rem;
    

}

.comm .header-comm img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    
    
}

.comm .header-comm .name {
    flex-direction: column;
}

.comm .header-comm .name h2 {
    font-size: 15px;
    padding-bottom: 3px;
}

.comm .header-comm .name h3 {
    font-size: 15px;
    color: var(--pink);
}

.comm .comm-text p {
    line-height: 1.4rem;
    font-size: 15px;
    font-weight: 500;
    
}





