@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');


:root {
    --darkmagenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --dark-gray-magenta: hsl(303, 10%, 53%);
    --light-gray-magenta: hsl(300, 24%, 96%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}



body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/bg-pattern-top-mobile.svg) no-repeat;
    
}

.wrapper {
    width: 90%;
    height: 90vh;
    padding: 1rem;
}

header h1 {
    text-align: center;
    font-size: 35px;
    color: var(--darkmagenta);
    font-weight: 700;
    margin-bottom: 1rem;
}

header p {
    text-align: center;
    color: var(--dark-gray-magenta);
    font-weight: 500;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.ratings .rate {
    width: 90%;
    background-color: var(--light-gray-magenta);
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.comments .comm {
    width: 90%;
    background-color: var(--darkmagenta);
    color: #fff;
    border-radius: 7px;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.comm .header-comm {
    display: flex;
    margin-bottom: 1rem;
    

}

.comm .header-comm img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 1rem;
    
    
}

.comm .header-comm .name {
    flex-direction: column;
}

.comm .header-comm .name h2 {
    font-size: 15px;
    padding-bottom: 3px;
}

.comm .header-comm .name h3 {
    font-size: 15px;
    color: var(--pink);
}

.comm .comm-text p {
    line-height: 1.4rem;
    font-size: 15px;
    font-weight: 500;
    
}

@media screen and (min-width: 1280px) {
    body {
        background: url(images/bg-pattern-top-desktop.svg) no-repeat, url(images/bg-pattern-bottom-desktop.svg);
        overflow: hidden;
        
        
       
    }


    .wrapper {
        width: 70%;
        max-height: 70%;
        padding: 0;
    }

    .container {
        display: flex;

    }

    .container header {
        width: 60%;
        padding: 0;
    }

    .container header h1 {
        width: 50%;
        text-align: start;
        
    }

    .container header p {
        text-align: start;
        width: 70%;
    }

    .container .ratings {
        width: 40%;

        
    }

    .container .ratings .rate {
        display: flex;
        
    }

    .container .ratings .rate:first-child {
        margin-left: -3rem;
    }

    .container .ratings .rate:last-child {
        margin-left: 3rem;
    }

    .container .ratings .rate img {
        width: 11px;
        height: 11px;
        margin-right: 0.2rem;
    }

    .container .ratings .rate p {
        margin-left: 0.8rem;
        font-size: 13px;
        font-weight: 700;
        color: var(--darkmagenta);
    }

    .comments {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        

    }

    .comments .comm {
        width: 33%;
        height: 190px;

    }

    .comments .comm .header-comm h2,
    .comments .comm .header-comm h3 {
        font-size: 13px;
        
    }

    .comments .comm .comm-text p {
        font-size: 13px;
        color: var(--light-gray-magenta);
        font-weight: 500;
    }
    

    .comments .comm:first-child {
        margin-right: 1.5rem;
        margin-top: -2rem;
        
    }

    .comments .comm:last-child {
        margin-left: 1.5rem;
        margin-top: 2rem;
        
    }

}



